
.app-container {
    display: flex;
}

.contents {
    margin-left: 250px; /* Adjust to match sidebar width */
    padding: 20px;
    padding-top: 300px;
    font-family: cursive;
    flex: 1;
    text-align: center;
}
