
.app-container {
    display: flex;
   height: 100vh;
   background-color: black;

}

.contents {
    margin-left: 250px; /* Adjust to match sidebar width */
    padding: 20px;
    padding-top: 300px;
    font-family: cursive;
    flex: 1;
    color: white;
    text-align: center;
}
