.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width as needed */
    height: 100vh; /* Full height */
    background-color: #e8dfdf;
    color:black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Scroll if content overflows */
}

.sidebar h2 {
    margin-bottom: 20px;
    color:black;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    background-color: #6c6767;
}
