
.contactlist {
    font-family: var(--font-josefin_sans),sans-serif;   
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 60px;
    padding-left: 500px;
}

.contactlist li {
    margin-left: 20px;
    font-size: 5px;
}

.contactlist a {  
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.contactlist a:hover {
    color: red;   
}

.contact-container {
    text-align: center;
    padding: 100px;
    background-color: #f8f9fa;
  }
  
  .contact-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color:white
  }
  
  .contact-container p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color:white;
    margin-bottom: 20px;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .contact-items {
    flex: 1 1 300px;
    margin: 40px;
    padding: 50px;
    background-color: #d9d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .contact-items i {
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
  }
  
  .contact-items h3 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .contact-items p {
    font-size: 16px;
    color:black;
    font-weight: bold;
  }