
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color:brown;
  background-color: beige;
}

.navbar-logo {
  border-radius: 40%;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 100px;
}

.restaurant-name {
  margin-left: 10px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Papyrus";
  font-style: italic;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
  font-weight: bolder;
}

.navbar-links a {
  color:brown;
  text-decoration: none;
  font-family:New Century Schoolbook, TeX Gyre Schola, serif;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  margin-left: 10px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.navbar-links li a {
  color: brown;
  text-decoration: none;
  font-size: 24px;
}

.navbar-contact a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
}
.logout-container {
  position: relative;
  cursor: pointer;
}

.logout-dropdown {
  position: absolute;
  top: 50px; /* Adjust based on your design */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.logout-dropdown button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.logout-dropdown button:hover {
  background-color: #f0f0f0;
}
